
{% extends "base.html" %} {% block content %}
{% load static %}

<main class="main">
  <h1>Menú</h1>

  <div class="container">
    <div class="grid item first">
      <a href="../contacto/contacto.html"
        ><img
          src="{% static './media/imagen01.jpg' %}"
          alt="Empanadas fritas o al horno"
          width="250"
          height="250"
      /></a>
      <figcaption>
        <p>Menú 01</p>
        <p>Empanadas de carne, pescado, verdura o jamon y queso.</p>
        <p>Precio por unidad $ 80.</p>
      </figcaption>
    </div>

    <div class="grid item second">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen02.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 02</p>
        <p>Picada para dos personas.</p>
        <p>Precio $ 1.800.</p>
      </figcaption>
    </div>

    <div class="grid item third">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen03.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 03</p>
        <p>Dorado a la pizza.</p>
        <p>Precio $ 2.800.</p>
      </figcaption>
    </div>

    <div class="grid item fourth">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen04.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 04</p>
        <p>Tabla de asado para una persona.</p>
        <p>Precio $ 2.000.</p>
      </figcaption>
    </div>

    <div class="grid item fifth">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen05.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 05</p>
        <p>Hamburguesa gourmet.</p>
        <p>Precio $ 1.200.</p>
      </figcaption>
    </div>

    <div class="grid item sixth">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen06.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 06</p>
        <p>Tortilla de papas para dos personas.</p>
        <p>Precio $ 1.200.</p>
      </figcaption>
    </div>

    <div class="grid item seventh">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen07.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 07</p>
        <p>Pollo al verdeo con papas.</p>
        <p>Precio $ 1.600.</p>
      </figcaption>
    </div>

    <div class="grid item eighth">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen08.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 08</p>
        <p>Pechuga a la plancha con verduras.</p>
        <p>Precio $ 1.200.</p>
      </figcaption>
    </div>

    <div class="grid item ninth">
      <a href="../contacto/contacto.html"
        ><img src="{% static './media/imagen09.jpg' %}" width="250" height="250"
      /></a>
      <figcaption>
        <p>Menú 09</p>
        <p>Solomillo de cerdo en salsa de 4 quesos.</p>
        <p>Precio $ 1.500.</p>
      </figcaption>
    </div>
  </div>
</main>

{% endblock %}
