{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static './media/icono.png' %}">
    <title>JAJA Comidas Regionales</title>
    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <link rel="stylesheet" href="{% static './css/barranav.css' %}"/>

    <link rel="stylesheet" href="{% static './css/catering.css' %}"/>
    <link rel="stylesheet" href="{% static './css/cerveza.css' %}"/>
    <link rel="stylesheet" href="{% static './css/contacto-form.css' %}"/>
    <link rel="stylesheet" href="{% static './css/menuComidas.css' %}"/>
    <link rel="stylesheet" href="{% static './css/menuPostres.css' %}"/>



</head>

<body class="container">

    <header class="topheader">
        <nav class="navbar">

            <a href="index.html" class="logo">
              <img src="{% static './media/logonav.png' %}" alt="logo">
              <div>
                    Comidas Regionales
              </div>
            </a>
            <input class="checkbox" type="checkbox">
            <img class="icons iconbarra" src="{% static './media/bars.svg' %}" alt="abrir menú" />
            <img class="icons iconcerrar" src="{% static './media/xmark.svg' %}" alt="cerrar menú" />
            
            <ul class="menu">
              <li><a href="{% url 'landing' %}">Inicio</a></li>
              <li><a href="{% url 'menu' %}">Menú</a></li>
              <li><a href="{% url 'postres' %}">Postres</a></li>
              <li><a href="{% url 'catering' %}">Catering</a></li>
              <li><a href="{% url 'cerveza' %}">Cerveza</a></li>
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
              
            </ul>
          </nav>
    </header>

    {% block content %} {% endblock %} 

    <footer>
        
        <div>
            <nav class="social">
              <ul class="social-list">
                  <li class="social-item">
                      <a href="https://www.facebook.com/" class="social-link" target="_blank"><img src="{% static './media/facebook-svgrepo-com.svg' %}" alt="perfil facebook">
                      </a>
                  </li>
            
                  <li class="social-item">
                      <a href="https://twitter.com/" class="social-link" target="_blank"><img src="{% static './media/twitter-svgrepo-com.svg' %}" alt="perfil twitter">
                      </a>
                  </li>
                  
                  <li class="social-item">
                      <a href="https://www.instagram.com/" class="social-link" target="_blank"><img src="{% static './media/instagram-svgrepo-com.svg' %}" alt="perfil instagram">
                      </a>
                  </li>
                  
                  <li class="social-item">
                      <a href="https://www.sharelinkgenerator.com/" class="social-link" target="_blank"><img src="{% static './media/sharethis-svgrepo-com.svg' %}" alt="perfil share">
                      </a>
                  </li>
                  
                  <li class="social-item">
                      <a href="https://api.whatsapp.com/send?phone=543434389604&text=Hola quiero realizar un pedido" class="social-link" target="_blank"><img src="{% static './media/whatsapp-svgrepo-com.svg'%}" alt="perfil whatsapp">
                      </a>
                  </li>
                  
              </ul>
            </nav>
        </div>

        <div class="copywrite">&copy;Comidas JAJA😊 - Todos los Derechos Reservados</div>   

    </footer>

     
</body>

</html>
